#dashboard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-image: url(./src/images/nature_1.jpg);
    background-size: cover;
    background-position: center;
}

#content {
    padding: 20px;
    font-size: 20px;
}

h1, h2, #content {
    color: white;
}